extends index.pug

block content 
    //-- needs to change to accomadate lvl 5
    div#gameboard(style="width: 100%; display: flex; flex-direction: column")
        div.arr-holder
            div.arr-row
                button.btn.start-btn(onclick="getRandArr()")= "Start"
                    

        div.arr-holder 
            div.arr-row
                button.btn.btn-secondary(onclick="collerClick()")
                    i.fas.fa-arrow-left 
                button.btn.btn-secondary(onclick="getNextRow()")
                    i.fas.fa-arrow-right

        

